# Ignore node_modules and vendor directories
/node_modules
/vendor

# Ignore .env file (for security reasons)
.env

# Ignore log and cache files
/storage/logs/*
/storage/framework/*
/storage/views/*

# Ignore IDE/editor specific files
/.vscode

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Dockerfile and docker-compose.yml if not needed in the image
Dockerfile
docker-compose.yml

# Ignore PHPUnit result cache
.phpunit.result.cache

# Ignore composer.lock if it's not required
composer.lock
